* {
  font-family: "Prata";

}

.homepage {
  display: block;
  text-align: start;
  width: 50%;
  font-size:x-large
}

.logo {
  font-size:xxx-large;
  font-family: "Roboto Mono"
}

// .section {
//   background-color:#CBDBEA;
// }