@import "~bulma/bulma.sass";

* {
  font-family: "Prata";

}

.homepage {
  background-color: #D4E0E6;
}
// .head-image {
//   width: 50%
// }

.navbar {
  width: 100%
}

.home-writing{
  width: 50%;
  font-size:xx-large;
}

.logo {
  font-size:xxx-large;
  font-family: "Roboto Mono"
}

.card:hover {
  background-color: #D4E0E6;
}

// .section {
//   background-color:#CBDBEA;
// }

